* {
  margin: 0;
  padding: 0;
}

.background-imageOne {
  background-image: url("../images/ratchetAndClankGames/ratchetAndClank.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
